.background{
    background-color: black;
    color: white;

}

table, tr, td, th{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

td, th{
    padding: 4px;
}

th{
    color: white;
}